{% extends "Blog\BlogBundle::layout.html.twig" %}


{% block title %}
    {{ parent() }}
{% endblock %}

{% block nav %}

    {{ parent()}}

{% endblock %}



{% block head_p  %}
<p class ="p-header"> Le Blog de toute les musiques </p>
{% endblock  %}

{% block page_title %}
  	<div class="div-article-title " > 
  		<h2 class="article-title"> Les derniers Articles</h2>
  	</div>
  	<section class="news container">
      {% for post in posts %}
  		<article class="item-news">
  			<h3 class="title-item-news">{{ post.title  }}</h3>
  			<a href="
        {{ path('blog_blog_showPost',  {'id':post.id}) }}"><img src="{{ asset('img/1.jpg') }}"></a>
  			<p>
          {{ post.content  | striptags | slice(0,350)}}  [...]
  			</p>
  			
  		</article>
  	{% endfor %}
  		
  		
  	</section>
  {% endblock %}

{% block troiswaplatform_body %}


    

{% endblock %}